# Logs
logs/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.*

# locks
package-lock.json
yarn.lock

# builds
admin/.next/
admin/build/
admin/dist/
api/build/
api/dist/

# turborepo
.turbo